---
layout: team_member_base
---

<div class="columns is-multiline">

    <div class="column is-6">
        <figure class="image is-1by1">
            <!-- <img src="{{ page.image }}" /> -->
            <img src="{{ page.image }}" style="width: 50%; height: auto; object-fit: cover;">

        </figure>
    </div>

    <div class="column is-6">
        <!-- <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-3">{{ page.job_title }}</p> -->

        <div class="content">
            {{ content }}
        </div>
    </div>

    <div class="buttons" style="text-align: center; margin-top: 10px;">
        {% if page.twitter %}
        <a class="button" itemprop="twitter" href="{{ page.twitter }}" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        {% endif %}
        {% if page.youtube %}
        <a class="button" itemprop="youtube" href="{{ page.youtube }}" target="_blank">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
        {% endif %}
        {% if page.github %}
        <a class="button" itemprop="github" href="{{ page.github }}" target="_blank">
            <i class="fab fa-github fa-lg"></i>
        </a>
        {% endif %}
        {% if page.email %}
        <a class="button" itemprop="email" href="mailto:{{ page.email }}" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>      
        </a>
        {% endif %}
        {% if page.facebook %}
        <a class="button" itemprop="facebook" href="{{ page.facebook }}" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        {% endif %}
        {% if page.bitbucket %}
        <a class="button" itemprop="bitbucket" href="{{ page.bitbucket }}" target="_blank">
            <i class="fab fa-bitbucket fa-lg"></i>
        </a>
        {% endif %}
        {% if page.linkedin %}
        <a class="button" itemprop="linkedin" href="{{ page.linkedin }}" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        {% endif %}
        {% if page.website %}
        <a class="button" itemprop="website" href="{{ page.website }}" target="_blank">
            <i class="fas fa-globe fa-lg"></i>
        </a>
        {% endif %}
</div>

</div>

